In [99]:
# Load the Pandas libraries with alias 'pd' 

import pandas as pd

In [101]:
# Read data from file 'International Arrivals.csv' that contains for each country or zone the number of international arrivals per year

arrivals=pd.read_csv('International Arrivals.csv', header=4)

#Select only the columns needed. Exclude information from 1960 to 1994 and 2018 that is empty

arrivals=arrivals[['Country Name', 'Country Code', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']]

In [102]:
#Check the arrivals data frame

arrivals

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,6.190000e+05,6.410000e+05,6.500000e+05,6.470000e+05,6.830000e+05,7.210000e+05,6.910000e+05,6.430000e+05,...,8.270000e+05,8.130000e+05,8.240000e+05,8.690000e+05,9.040000e+05,9.790000e+05,1.072000e+06,1.225000e+06,1.102000e+06,1.070500e+06
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,9.000000e+03,2.100000e+04,4.500000e+04,5.200000e+04,4.500000e+04,5.100000e+04,6.700000e+04,9.100000e+04,...,2.940000e+05,3.660000e+05,4.250000e+05,4.810000e+05,5.280000e+05,6.500000e+05,5.950000e+05,5.920000e+05,3.970000e+05,2.610000e+05
3,Albania,ALB,3.040000e+05,2.870000e+05,1.190000e+05,1.840000e+05,3.710000e+05,3.170000e+05,3.540000e+05,4.700000e+05,...,1.247000e+06,1.711000e+06,2.191000e+06,2.469000e+06,3.156000e+06,2.857000e+06,3.341000e+06,3.784000e+06,4.070000e+06,4.643000e+06
4,Andorra,AND,NaN,NaN,NaN,NaN,2.347000e+06,2.949000e+06,3.516000e+06,3.387000e+06,...,2.059000e+06,1.830000e+06,1.808000e+06,2.242000e+06,2.238000e+06,2.328000e+06,2.363000e+06,2.663000e+06,2.831000e+06,NaN
5,Arab World,ARB,2.115522e+07,2.192905e+07,2.384332e+07,2.623208e+07,3.010843e+07,3.391257e+07,3.478617e+07,3.904145e+07,...,7.456862e+07,7.372749e+07,8.459515e+07,7.090156e+07,7.899196e+07,7.869716e+07,8.415708e+07,7.885381e+07,7.636341e+07,8.221460e+07
6,United Arab Emirates,ARE,2.315000e+06,2.572000e+06,2.476000e+06,2.991000e+06,3.393000e+06,3.907000e+06,4.134000e+06,5.445000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,2.289000e+06,2.614000e+06,2.764000e+06,3.012000e+06,2.898000e+06,2.909000e+06,2.620000e+06,2.820000e+06,...,4.700000e+06,4.308000e+06,5.325000e+06,5.705000e+06,5.587000e+06,5.246000e+06,5.931000e+06,5.736000e+06,6.655000e+06,6.720000e+06
8,Armenia,ARM,1.200000e+04,1.300000e+04,2.300000e+04,3.200000e+04,4.100000e+04,4.500000e+04,1.230000e+05,1.620000e+05,...,5.580000e+05,5.750000e+05,6.840000e+05,7.580000e+05,9.630000e+05,1.084000e+06,1.204000e+06,1.192000e+06,1.260000e+06,1.495000e+06
9,American Samoa,ASM,3.400000e+04,3.500000e+04,2.600000e+04,3.600000e+04,4.100000e+04,4.400000e+04,3.600000e+04,NaN,...,2.430000e+04,2.350000e+04,2.310000e+04,2.260000e+04,2.260000e+04,2.080000e+04,2.160000e+04,2.030000e+04,2.010000e+04,2.000000e+04
10,Antigua and Barbuda,ATG,2.200000e+05,2.280000e+05,2.400000e+05,2.340000e+05,2.320000e+05,2.070000e+05,2.150000e+05,2.180000e+05,...,2.660000e+05,2.340000e+05,2.300000e+05,2.410000e+05,2.470000e+05,2.430000e+05,2.490000e+05,2.500000e+05,2.650000e+05,2.470000e+05
11,Australia,AUS,3.726000e+06,4.165000e+06,4.318000e+06,4.167000e+06,4.459000e+06,4.931000e+06,4.856000e+06,4.841000e+06,...,5.586000e+06,5.490000e+06,5.790000e+06,5.771000e+06,6.032000e+06,6.482000e+06,6.922000e+06,7.450000e+06,8.269000e+06,8.815000e+06
12,Austria,AUT,1.717300e+07,1.709000e+07,1.664700e+07,1.735200e+07,1.746700e+07,1.798200e+07,1.818000e+07,1.861100e+07,...,2.193500e+07,2.135500e+07,2.200400e+07,2.301200e+07,2.415100e+07,2.481300e+07,2.529100e+07,2.672800e+07,2.812100e+07,2.946000e+07
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.760000e+05,...,1.043000e+06,1.005000e+06,1.280000e+06,1.562000e+06,1.986000e+06,2.130000e+06,2.160000e+06,1.922000e+06,2.044000e+06,2.454000e+06
14,Burundi,BDI,3.400000e+04,2.700000e+04,1.100000e+04,1.500000e+04,2.600000e+04,2.900000e+04,3.600000e+04,7.400000e+04,...,2.020000e+05,2.120000e+05,1.420000e+05,1.440000e+05,1.470000e+05,2.340000e+05,2.350000e+05,1.310000e+05,1.870000e+05,2.990000e+05
15,Belgium,BEL,5.560000e+06,5.829000e+06,6.037000e+06,6.179000e+06,6.369000e+06,6.457000e+06,6.452000e+06,6.720000e+06,...,7.165000e+06,6.815000e+06,7.186000e+06,7.494000e+06,7.560000e+06,7.684000e+06,7.887000e+06,8.355000e+06,7.481000e+06,8.385000e+06
16,Benin,BEN,1.380000e+05,1.430000e+05,1.480000e+05,1.520000e+05,8.000000e+04,9.600000e+04,8.800000e+04,7.200000e+04,...,1.880000e+05,1.900000e+05,1.990000e+05,2.090000e+05,2.200000e+05,2.310000e+05,2.420000e+05,2.550000e+05,2.670000e+05,2.810000e+05
17,Burkina Faso,BFA,1.240000e+05,1.310000e+05,1.380000e+05,1.600000e+05,1.170000e+05,1.260000e+05,1.280000e+05,1.500000e+05,...,2.720000e+05,2.690000e+05,2.740000e+05,2.380000e+05,2.370000e+05,2.180000e+05,1.910000e+05,1.630000e+05,1.520000e+05,1.430000e+05
18,Bangladesh,BGD,1.560000e+05,1.660000e+05,1.820000e+05,1.720000e+05,1.730000e+05,1.990000e+05,2.070000e+05,2.070000e+05,...,4.670000e+05,2.670000e+05,3.030000e+05,1.550000e+05,1.250000e+05,1.480000e+05,1.250000e+05,NaN,NaN,NaN
19,Bulgaria,BGR,3.466000e+06,2.795000e+06,2.980000e+06,2.667000e+06,2.472000e+06,2.785000e+06,3.186000e+06,3.433000e+06,...,5.780000e+06,5.739000e+06,6.047000e+06,6.328000e+06,6.541000e+06,6.898000e+06,7.311000e+06,7.099000e+06,8.252000e+06,8.883000e+06
20,Bahrain,BHR,2.311000e+06,1.988000e+06,2.600000e+06,2.898000e+06,3.280000e+06,3.869000e+06,4.388000e+06,4.831000e+06,...,8.631000e+06,8.861000e+06,1.195200e+07,6.732000e+06,8.062000e+06,9.163000e+06,1.045200e+07,9.670000e+06,1.015800e+07,1.137000e+07
21,"Bahamas, The",BHS,1.598000e+06,1.633000e+06,1.618000e+06,1.528000e+06,1.577000e+06,1.544000e+06,1.538000e+06,1.513000e+06,...,1.463000e+06,1.327000e+06,1.370000e+06,1.346000e+06,1.422000e+06,1.366000e+06,1.427000e+06,1.484000e+06,1.499000e+06,1.439000e+06
22,Bosnia and Herzegovina,BIH,NaN,NaN,1.150000e+05,1.480000e+05,1.470000e+05,1.710000e+05,1.390000e+05,1.600000e+05,...,3.220000e+05,3.110000e+05,3.650000e+05,3.920000e+05,4.390000e+05,5.290000e+05,5.360000e+05,6.780000e+05,7.780000e+05,9.230000e+05
23,Belarus,BLR,1.606000e+05,2.340000e+05,2.535000e+05,3.550000e+05,7.490000e+04,6.000000e+04,6.100000e+04,6.300000e+04,...,9.050000e+04,9.500000e+04,1.193000e+05,1.160000e+05,6.129900e+06,6.241800e+06,5.374900e+06,4.385600e+06,1.093540e+07,1.106020e+07
24,Belize,BLZ,1.310000e+05,1.330000e+05,1.460000e+05,1.760000e+05,1.810000e+05,1.960000e+05,1.960000e+05,2.000000e+05,...,2.450000e+05,2.320000e+05,2.420000e+05,2.500000e+05,2.770000e+05,2.940000e+05,3.210000e+05,3.410000e+05,3.860000e+05,4.270000e+05
25,Bermuda,BMU,3.870000e+05,3.900000e+05,3.800000e+05,3.700000e+05,3.550000e+05,3.320000e+05,2.780000e+05,2.840000e+05,...,2.640000e+05,2.360000e+05,2.320000e+05,2.360000e+05,2.320000e+05,2.360000e+05,2.240000e+05,2.200000e+05,2.440000e+05,2.700000e+05
26,Bolivia,BOL,2.840000e+05,3.130000e+05,3.550000e+05,3.870000e+05,3.420000e+05,3.190000e+05,3.160000e+05,3.340000e+05,...,5.940000e+05,5.990000e+05,6.790000e+05,7.110000e+05,7.980000e+05,7.980000e+05,8.710000e+05,8.820000e+05,9.590000e+05,1.134000e+06
27,Brazil,BRA,1.991000e+06,2.666000e+06,2.850000e+06,4.818000e+06,5.107000e+06,5.313000e+06,4.773000e+06,3.785000e+06,...,5.050000e+06,4.802000e+06,5.161000e+06,5.433000e+06,5.677000e+06,5.813000e+06,6.430000e+06,6.306000e+06,6.547000e+06,6.589000e+06
28,Barbados,BRB,4.420000e+05,4.470000e+05,4.720000e+05,5.120000e+05,5.150000e+05,5.450000e+05,5.070000e+05,4.980000e+05,...,5.680000e+05,5.190000e+05,5.320000e+05,5.680000e+05,5.360000e+05,5.090000e+05,5.210000e+05,5.920000e+05,6.320000e+05,6.640000e+05
29,Brunei Darussalam,BRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.260000e+05,1.570000e+05,2.140000e+05,2.420000e+05,2.090000e+05,2.250000e+05,2.010000e+05,2.180000e+05,2.190000e+05,2.590000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,3.866900e+07,4.055500e+07,4.014200e+07,4.289600e+07,4.307600e+07,4.580400e+07,4.420500e+07,4.240700e+07,...,6.054600e+07,5.873000e+07,6.136500e+07,6.495000e+07,6.732700e+07,6.889840e+07,7.719810e+07,8.303000e+07,8.976419e+07,9.818026e+07
235,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.600000e+04,4.400000e+04,4.000000e+04,5.100000e+04,5.800000e+04,7.900000e+04,6.000000e+04,6.200000e+04,6.600000e+04,7.400000e+04
236,Middle East & North Africa (IDA & IBRD countries),TMN,1.362004e+07,1.439085e+07,1.570795e+07,1.722888e+07,1.983101e+07,2.198938e+07,2.209232e+07,2.406148e+07,...,4.431138e+07,4.705281e+07,5.473675e+07,4.426041e+07,4.803150e+07,4.760095e+07,4.810056e+07,4.403788e+07,4.003877e+07,4.723084e+07
237,Tonga,TON,2.900000e+04,2.700000e+04,2.600000e+04,2.700000e+04,3.100000e+04,3.500000e+04,3.200000e+04,3.700000e+04,...,5.000000e+04,4.570000e+04,4.710000e+04,4.600000e+04,4.740000e+04,4.820000e+04,5.040000e+04,5.380000e+04,5.910000e+04,6.250000e+04
238,South Asia (IDA & IBRD),TSA,3.809177e+06,3.930662e+06,4.161829e+06,4.280669e+06,4.529947e+06,4.826436e+06,4.486400e+06,4.321774e+06,...,8.365578e+06,8.065426e+06,9.234491e+06,1.039236e+07,1.072507e+07,1.168277e+07,1.891533e+07,1.919519e+07,2.129414e+07,2.284510e+07
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,1.295720e+07,1.474029e+07,1.469061e+07,1.665619e+07,1.731444e+07,1.757944e+07,1.812036e+07,1.941256e+07,...,3.060059e+07,2.833533e+07,3.145731e+07,3.310224e+07,3.426820e+07,3.546457e+07,3.677882e+07,3.718509e+07,4.069832e+07,4.236450e+07
240,Trinidad and Tobago,TTO,2.600000e+05,2.660000e+05,3.240000e+05,3.340000e+05,3.580000e+05,3.990000e+05,3.830000e+05,3.840000e+05,...,4.370000e+05,4.190000e+05,3.880000e+05,4.310000e+05,4.550000e+05,4.340000e+05,4.120000e+05,4.400000e+05,4.090000e+05,3.950000e+05
241,Tunisia,TUN,4.120000e+06,3.885000e+06,4.263000e+06,4.718000e+06,4.832000e+06,5.058000e+06,5.387000e+06,5.064000e+06,...,7.050000e+06,7.797000e+06,7.828000e+06,5.746000e+06,6.999000e+06,7.352000e+06,7.163000e+06,5.359000e+06,5.724000e+06,7.052000e+06
242,Turkey,TUR,7.083000e+06,7.966000e+06,9.040000e+06,8.960000e+06,6.893000e+06,9.586000e+06,1.078300e+07,1.279000e+07,...,2.979200e+07,3.018700e+07,3.136400e+07,3.465400e+07,3.569800e+07,3.779500e+07,3.981100e+07,3.947800e+07,3.028900e+07,3.760100e+07
243,Tuvalu,TUV,9.000000e+02,1.000000e+03,1.000000e+03,1.000000e+03,1.100000e+03,1.100000e+03,1.100000e+03,1.300000e+03,...,1.700000e+03,1.600000e+03,1.700000e+03,1.200000e+03,1.100000e+03,1.300000e+03,1.400000e+03,2.400000e+03,2.500000e+03,2.500000e+03
244,Tanzania,TZA,2.850000e+05,3.150000e+05,3.470000e+05,4.500000e+05,5.640000e+05,4.590000e+05,5.010000e+05,5.500000e+05,...,7.500000e+05,6.950000e+05,7.540000e+05,8.430000e+05,1.043000e+06,1.063000e+06,1.113000e+06,1.104000e+06,1.233000e+06,1.275000e+06
245,Uganda,UGA,1.600000e+05,1.740000e+05,1.750000e+05,1.950000e+05,1.890000e+05,1.930000e+05,2.050000e+05,2.540000e+05,...,8.440000e+05,8.070000e+05,9.460000e+05,1.151000e+06,1.197000e+06,1.206000e+06,1.266000e+06,1.303000e+06,1.323000e+06,1.402000e+06
246,Ukraine,UKR,3.716000e+06,3.854000e+06,7.558000e+06,6.208000e+06,4.232000e+06,6.431000e+06,9.174000e+06,1.051700e+07,...,2.544900e+07,2.079800e+07,2.120300e+07,2.141500e+07,2.301300e+07,2.467100e+07,1.271200e+07,1.242800e+07,1.333300e+07,1.423000e+07
247,Upper middle income,UMC,1.065449e+08,1.181832e+08,1.206538e+08,1.251263e+08,1.323729e+08,1.495985e+08,1.561402e+08,1.672680e+08,...,2.472731e+08,2.397889e+08,2.576097e+08,2.759217e+08,2.971059e+08,3.098793e+08,3.227713e+08,3.332267e+08,3.382353e+08,3.635761e+08
248,Uruguay,URY,2.022000e+06,2.152000e+06,2.316000e+06,2.163000e+06,2.073000e+06,1.968000e+06,1.892000e+06,1.258000e+06,...,1.938000e+06,2.055000e+06,2.353000e+06,2.857000e+06,2.695000e+06,2.683000e+06,2.682000e+06,2.773000e+06,3.037000e+06,3.674000e+06
249,United States,USA,4.331800e+07,4.648900e+07,4.776700e+07,4.637700e+07,4.850900e+07,5.123800e+07,4.692700e+07,4.358100e+07,...,5.800700e+07,5.510300e+07,6.001000e+07,6.282100e+07,6.665700e+07,6.999500e+07,7.502200e+07,7.777400e+07,7.640700e+07,7.694100e+07
250,Uzbekistan,UZB,9.200000e+04,1.730000e+05,9.600000e+05,8.110000e+05,4.870000e+05,3.020000e+05,3.450000e+05,3.320000e+05,...,1.069000e+06,1.215000e+06,9.750000e+05,NaN,NaN,1.969000e+06,1.862000e+06,1.918000e+06,2.027000e+06,2.690000e+06
251,St. Vincent and the Grenadines,VCT,6.000000e+04,5.800000e+04,6.500000e+04,6.700000e+04,6.800000e+04,7.300000e+04,7.100000e+04,7.800000e+04,...,8.400000e+04,7.500000e+04,7.200000e+04,7.400000e+04,7.400000e+04,7.200000e+04,7.100000e+04,7.500000e+04,7.900000e+04,7.600000e+04
252,"Venezuela, RB",VEN,7.000000e+05,7.590000e+05,8.140000e+05,6.850000e+05,5.870000e+05,4.690000e+05,5.840000e+05,4.320000e+05,...,6.990000e+05,5.620000e+05,5.260000e+05,5.950000e+05,9.880000e+05,9.860000e+05,8.570000e+05,7.890000e+05,6.010000e+05,4.270000e+05
253,British Virgin Islands,VGB,2.190000e+05,2.440000e+05,2.440000e+05,2.790000e+05,2.840000e+05,2.720000e+05,2.960000e+05,2.820000e+05,...,3.460000e+05,3.090000e+05,3.300000e+05,3.380000e+05,3.510000e+05,3.660000e+05,3.860000e+05,3.930000e+05,4.080000e+05,3.350000e+05
254,Virgin Islands (U.S.),VIR,4.540000e+05,3.730000e+05,3.930000e+05,4.220000e+05,4.840000e+05,5.460000e+05,5.270000e+05,5.200000e+05,...,5.740000e+05,5.630000e+05,5.720000e+05,5.670000e+05,6.190000e+05,5.900000e+05,6.150000e+05,6.420000e+05,6.670000e+05,NaN
255,Vietnam,VNM,1.351000e+06,1.607000e+06,1.716000e+06,1.520000e+06,1.782000e+06,2.140000e+06,2.330000e+06,2.628000e+06,...,4.236000e+06,3.747000e+06,5.050000e+06,6.014000e+06,6.848000e+06,7.572000e+06,7.874000e+06,7.944000e+06,1.001300e+07,1.292200e+07
256,Vanuatu,VUT,4.400000e+04,4.600000e+04,5.000000e+04,5.200000e+04,5.100000e+04,5.800000e+04,5.300000e+04,4.900000e+04,...,9.050000e+04,1.007000e+05,9.720000e+04,9.400000e+04,1.082000e+05,1.100000e+05,1.090000e+05,9.000000e+04,9.510000e+04,1.090000e+05
257,World,WLD,5.239096e+08,5.545516e+08,5.843048e+08,6.022473e+08,6.272079e+08,6.773870e+08,6.782462e+08,6.984316e+08,...,9.363609e+08,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09
258,Samoa,WSM,6.800000e+04,7.300000e+04,6.800000e+04,7.800000e+04,8.500000e+04,8.800000e+04,8.800000e+04,8.900000e+04,...,1.180000e+05,1.220000e+05,1.220000e+05,1.210000e+05,1.260000e+05,1.160000e+05,1.204000e+05,1.280000e+05,1.340000e+05,1.460000e+05
259,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,6.100000e+04,7.400000e+04,8.000000e+04,8.800000e+04,5.800000e+04,7.300000e+04,7.600000e+04,9.800000e+04,...,1.023000e+06,1.028000e+06,1.025000e+06,8.290000e+05,8.740000e+05,9.900000e+05,1.017500e+06,3.667000e+05,NaN,NaN
261,South Africa,ZAF,4.488000e+06,4.915000e+06,4.976000e+06,5.732000e+06,5.890000e+06,5.872000e+06,5.787000e+06,6.430000e+06,...,9.592000e+06,7.012000e+06,8.074000e+06,8.339000e+06,9.188000e+06,9.537000e+06,9.549000e+06,8.904000e+06,1.004400e+07,1.028500e+07
262,Zambia,ZMB,1.630000e+05,2.640000e+05,3.410000e+05,3.620000e+05,4.040000e+05,4.570000e+05,4.920000e+05,5.650000e+05,...,8.120000e+05,7.100000e+05,8.150000e+05,9.200000e+05,8.590000e+05,9.150000e+05,9.470000e+05,9.320000e+05,9.560000e+05,1.083000e+06
263,Zimbabwe,ZWE,1.416000e+06,1.597000e+06,1.336000e+06,2.090000e+06,2.250000e+06,1.967000e+06,2.217000e+06,2.041000e+06,...,1.956000e+06,2.017000e+06,2.239000e+06,2.423000e+06,1.794000e+06,1.833000e+06,1.880000e+06,2.057000e+06,2.168000e+06,2.423000e+06

In [67]:
# Read data from file 'Metadata_Country.csv' containing further information about countries

metadata_country=pd.read_csv('Metadata_Country.csv')

In [74]:
#Check the metadata_country data frame

metadata_country

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFG,South Asia,Low income,NaN,Afghanistan
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
4,AND,Europe & Central Asia,High income,NaN,Andorra
5,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World
6,ARE,Middle East & North Africa,High income,NaN,United Arab Emirates
7,ARG,Latin America & Caribbean,Upper middle income,NaN,Argentina
8,ARM,Europe & Central Asia,Upper middle income,NaN,Armenia
9,ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa
10,ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda
11,AUS,East Asia & Pacific,High income,Fiscal year end: June 30; reporting period for...,Australia
12,AUT,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria
13,AZE,Europe & Central Asia,Upper middle income,NaN,Azerbaijan
14,BDI,Sub-Saharan Africa,Low income,NaN,Burundi
15,BEL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium
16,BEN,Sub-Saharan Africa,Low income,NaN,Benin
17,BFA,Sub-Saharan Africa,Low income,NaN,Burkina Faso
18,BGD,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,Bangladesh
19,BGR,Europe & Central Asia,Upper middle income,NaN,Bulgaria
20,BHR,Middle East & North Africa,High income,NaN,Bahrain
21,BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The"
22,BIH,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina
23,BLR,Europe & Central Asia,Upper middle income,Data before 2015 were adjusted to reflect the ...,Belarus
24,BLZ,Latin America & Caribbean,Upper middle income,NaN,Belize
25,BMU,North America,High income,NaN,Bermuda
26,BOL,Latin America & Caribbean,Lower middle income,NaN,Bolivia
27,BRA,Latin America & Caribbean,Upper middle income,NaN,Brazil
28,BRB,Latin America & Caribbean,High income,NaN,Barbados
29,BRN,East Asia & Pacific,High income,NaN,Brunei Darussalam
...,...,...,...,...,...
233,TLA,NaN,NaN,Latin America & the Caribbean (IDA & IBRD coun...,Latin America & Caribbean (IDA & IBRD)
234,TLS,East Asia & Pacific,Lower middle income,NaN,Timor-Leste
235,TMN,NaN,NaN,Middle East & North Africa (IDA & IBRD countri...,Middle East & North Africa (IDA & IBRD)
236,TON,East Asia & Pacific,Upper middle income,NaN,Tonga
237,TSA,NaN,NaN,South Asia (IDA & IBRD countries) aggregate.,South Asia (IDA & IBRD)
238,TSS,NaN,NaN,Sub-Saharan Africa (IDA & IBRD countries) aggr...,Sub-Saharan Africa (IDA & IBRD)
239,TTO,Latin America & Caribbean,High income,NaN,Trinidad and Tobago
240,TUN,Middle East & North Africa,Lower middle income,NaN,Tunisia
241,TUR,Europe & Central Asia,Upper middle income,NaN,Turkey
242,TUV,East Asia & Pacific,Upper middle income,NaN,Tuvalu
243,TZA,Sub-Saharan Africa,Low income,NaN,Tanzania
244,UGA,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Uganda
245,UKR,Europe & Central Asia,Lower middle income,NaN,Ukraine
246,UMC,NaN,NaN,Upper middle income group aggregate. Upper-mid...,Upper middle income
247,URY,Latin America & Caribbean,High income,NaN,Uruguay
248,USA,North America,High income,NaN,United States
249,UZB,Europe & Central Asia,Lower middle income,NaN,Uzbekistan
250,VCT,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines
251,VEN,Latin America & Caribbean,Upper middle income,NaN,"Venezuela, RB"
252,VGB,Latin America & Caribbean,High income,NaN,British Virgin Islands
253,VIR,Latin America & Caribbean,High income,NaN,Virgin Islands (U.S.)
254,VNM,East Asia & Pacific,Lower middle income,NaN,Vietnam
255,VUT,East Asia & Pacific,Lower middle income,NaN,Vanuatu
256,WLD,NaN,NaN,World aggregate.,World
257,WSM,East Asia & Pacific,Upper middle income,Fiscal year ends on June 30; reporting period ...,Samoa
258,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
259,YEM,Middle East & North Africa,Low income,NaN,"Yemen, Rep."
260,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
261,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia
262,ZWE,Sub-Saharan Africa,Lower middle income,NaN,Zimbabwe

In [103]:
#Merge both data frames on 'Country Code' to have consolidate information an create a new data frame called df

df=arrivals.merge(metadata_country, on='Country Code', how='left')

arrivals

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,6.190000e+05,6.410000e+05,6.500000e+05,6.470000e+05,6.830000e+05,7.210000e+05,6.910000e+05,6.430000e+05,...,8.270000e+05,8.130000e+05,8.240000e+05,8.690000e+05,9.040000e+05,9.790000e+05,1.072000e+06,1.225000e+06,1.102000e+06,1.070500e+06
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,9.000000e+03,2.100000e+04,4.500000e+04,5.200000e+04,4.500000e+04,5.100000e+04,6.700000e+04,9.100000e+04,...,2.940000e+05,3.660000e+05,4.250000e+05,4.810000e+05,5.280000e+05,6.500000e+05,5.950000e+05,5.920000e+05,3.970000e+05,2.610000e+05
3,Albania,ALB,3.040000e+05,2.870000e+05,1.190000e+05,1.840000e+05,3.710000e+05,3.170000e+05,3.540000e+05,4.700000e+05,...,1.247000e+06,1.711000e+06,2.191000e+06,2.469000e+06,3.156000e+06,2.857000e+06,3.341000e+06,3.784000e+06,4.070000e+06,4.643000e+06
4,Andorra,AND,NaN,NaN,NaN,NaN,2.347000e+06,2.949000e+06,3.516000e+06,3.387000e+06,...,2.059000e+06,1.830000e+06,1.808000e+06,2.242000e+06,2.238000e+06,2.328000e+06,2.363000e+06,2.663000e+06,2.831000e+06,NaN
5,Arab World,ARB,2.115522e+07,2.192905e+07,2.384332e+07,2.623208e+07,3.010843e+07,3.391257e+07,3.478617e+07,3.904145e+07,...,7.456862e+07,7.372749e+07,8.459515e+07,7.090156e+07,7.899196e+07,7.869716e+07,8.415708e+07,7.885381e+07,7.636341e+07,8.221460e+07
6,United Arab Emirates,ARE,2.315000e+06,2.572000e+06,2.476000e+06,2.991000e+06,3.393000e+06,3.907000e+06,4.134000e+06,5.445000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,2.289000e+06,2.614000e+06,2.764000e+06,3.012000e+06,2.898000e+06,2.909000e+06,2.620000e+06,2.820000e+06,...,4.700000e+06,4.308000e+06,5.325000e+06,5.705000e+06,5.587000e+06,5.246000e+06,5.931000e+06,5.736000e+06,6.655000e+06,6.720000e+06
8,Armenia,ARM,1.200000e+04,1.300000e+04,2.300000e+04,3.200000e+04,4.100000e+04,4.500000e+04,1.230000e+05,1.620000e+05,...,5.580000e+05,5.750000e+05,6.840000e+05,7.580000e+05,9.630000e+05,1.084000e+06,1.204000e+06,1.192000e+06,1.260000e+06,1.495000e+06
9,American Samoa,ASM,3.400000e+04,3.500000e+04,2.600000e+04,3.600000e+04,4.100000e+04,4.400000e+04,3.600000e+04,NaN,...,2.430000e+04,2.350000e+04,2.310000e+04,2.260000e+04,2.260000e+04,2.080000e+04,2.160000e+04,2.030000e+04,2.010000e+04,2.000000e+04
10,Antigua and Barbuda,ATG,2.200000e+05,2.280000e+05,2.400000e+05,2.340000e+05,2.320000e+05,2.070000e+05,2.150000e+05,2.180000e+05,...,2.660000e+05,2.340000e+05,2.300000e+05,2.410000e+05,2.470000e+05,2.430000e+05,2.490000e+05,2.500000e+05,2.650000e+05,2.470000e+05
11,Australia,AUS,3.726000e+06,4.165000e+06,4.318000e+06,4.167000e+06,4.459000e+06,4.931000e+06,4.856000e+06,4.841000e+06,...,5.586000e+06,5.490000e+06,5.790000e+06,5.771000e+06,6.032000e+06,6.482000e+06,6.922000e+06,7.450000e+06,8.269000e+06,8.815000e+06
12,Austria,AUT,1.717300e+07,1.709000e+07,1.664700e+07,1.735200e+07,1.746700e+07,1.798200e+07,1.818000e+07,1.861100e+07,...,2.193500e+07,2.135500e+07,2.200400e+07,2.301200e+07,2.415100e+07,2.481300e+07,2.529100e+07,2.672800e+07,2.812100e+07,2.946000e+07
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.760000e+05,...,1.043000e+06,1.005000e+06,1.280000e+06,1.562000e+06,1.986000e+06,2.130000e+06,2.160000e+06,1.922000e+06,2.044000e+06,2.454000e+06
14,Burundi,BDI,3.400000e+04,2.700000e+04,1.100000e+04,1.500000e+04,2.600000e+04,2.900000e+04,3.600000e+04,7.400000e+04,...,2.020000e+05,2.120000e+05,1.420000e+05,1.440000e+05,1.470000e+05,2.340000e+05,2.350000e+05,1.310000e+05,1.870000e+05,2.990000e+05
15,Belgium,BEL,5.560000e+06,5.829000e+06,6.037000e+06,6.179000e+06,6.369000e+06,6.457000e+06,6.452000e+06,6.720000e+06,...,7.165000e+06,6.815000e+06,7.186000e+06,7.494000e+06,7.560000e+06,7.684000e+06,7.887000e+06,8.355000e+06,7.481000e+06,8.385000e+06
16,Benin,BEN,1.380000e+05,1.430000e+05,1.480000e+05,1.520000e+05,8.000000e+04,9.600000e+04,8.800000e+04,7.200000e+04,...,1.880000e+05,1.900000e+05,1.990000e+05,2.090000e+05,2.200000e+05,2.310000e+05,2.420000e+05,2.550000e+05,2.670000e+05,2.810000e+05
17,Burkina Faso,BFA,1.240000e+05,1.310000e+05,1.380000e+05,1.600000e+05,1.170000e+05,1.260000e+05,1.280000e+05,1.500000e+05,...,2.720000e+05,2.690000e+05,2.740000e+05,2.380000e+05,2.370000e+05,2.180000e+05,1.910000e+05,1.630000e+05,1.520000e+05,1.430000e+05
18,Bangladesh,BGD,1.560000e+05,1.660000e+05,1.820000e+05,1.720000e+05,1.730000e+05,1.990000e+05,2.070000e+05,2.070000e+05,...,4.670000e+05,2.670000e+05,3.030000e+05,1.550000e+05,1.250000e+05,1.480000e+05,1.250000e+05,NaN,NaN,NaN
19,Bulgaria,BGR,3.466000e+06,2.795000e+06,2.980000e+06,2.667000e+06,2.472000e+06,2.785000e+06,3.186000e+06,3.433000e+06,...,5.780000e+06,5.739000e+06,6.047000e+06,6.328000e+06,6.541000e+06,6.898000e+06,7.311000e+06,7.099000e+06,8.252000e+06,8.883000e+06
20,Bahrain,BHR,2.311000e+06,1.988000e+06,2.600000e+06,2.898000e+06,3.280000e+06,3.869000e+06,4.388000e+06,4.831000e+06,...,8.631000e+06,8.861000e+06,1.195200e+07,6.732000e+06,8.062000e+06,9.163000e+06,1.045200e+07,9.670000e+06,1.015800e+07,1.137000e+07
21,"Bahamas, The",BHS,1.598000e+06,1.633000e+06,1.618000e+06,1.528000e+06,1.577000e+06,1.544000e+06,1.538000e+06,1.513000e+06,...,1.463000e+06,1.327000e+06,1.370000e+06,1.346000e+06,1.422000e+06,1.366000e+06,1.427000e+06,1.484000e+06,1.499000e+06,1.439000e+06
22,Bosnia and Herzegovina,BIH,NaN,NaN,1.150000e+05,1.480000e+05,1.470000e+05,1.710000e+05,1.390000e+05,1.600000e+05,...,3.220000e+05,3.110000e+05,3.650000e+05,3.920000e+05,4.390000e+05,5.290000e+05,5.360000e+05,6.780000e+05,7.780000e+05,9.230000e+05
23,Belarus,BLR,1.606000e+05,2.340000e+05,2.535000e+05,3.550000e+05,7.490000e+04,6.000000e+04,6.100000e+04,6.300000e+04,...,9.050000e+04,9.500000e+04,1.193000e+05,1.160000e+05,6.129900e+06,6.241800e+06,5.374900e+06,4.385600e+06,1.093540e+07,1.106020e+07
24,Belize,BLZ,1.310000e+05,1.330000e+05,1.460000e+05,1.760000e+05,1.810000e+05,1.960000e+05,1.960000e+05,2.000000e+05,...,2.450000e+05,2.320000e+05,2.420000e+05,2.500000e+05,2.770000e+05,2.940000e+05,3.210000e+05,3.410000e+05,3.860000e+05,4.270000e+05
25,Bermuda,BMU,3.870000e+05,3.900000e+05,3.800000e+05,3.700000e+05,3.550000e+05,3.320000e+05,2.780000e+05,2.840000e+05,...,2.640000e+05,2.360000e+05,2.320000e+05,2.360000e+05,2.320000e+05,2.360000e+05,2.240000e+05,2.200000e+05,2.440000e+05,2.700000e+05
26,Bolivia,BOL,2.840000e+05,3.130000e+05,3.550000e+05,3.870000e+05,3.420000e+05,3.190000e+05,3.160000e+05,3.340000e+05,...,5.940000e+05,5.990000e+05,6.790000e+05,7.110000e+05,7.980000e+05,7.980000e+05,8.710000e+05,8.820000e+05,9.590000e+05,1.134000e+06
27,Brazil,BRA,1.991000e+06,2.666000e+06,2.850000e+06,4.818000e+06,5.107000e+06,5.313000e+06,4.773000e+06,3.785000e+06,...,5.050000e+06,4.802000e+06,5.161000e+06,5.433000e+06,5.677000e+06,5.813000e+06,6.430000e+06,6.306000e+06,6.547000e+06,6.589000e+06
28,Barbados,BRB,4.420000e+05,4.470000e+05,4.720000e+05,5.120000e+05,5.150000e+05,5.450000e+05,5.070000e+05,4.980000e+05,...,5.680000e+05,5.190000e+05,5.320000e+05,5.680000e+05,5.360000e+05,5.090000e+05,5.210000e+05,5.920000e+05,6.320000e+05,6.640000e+05
29,Brunei Darussalam,BRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.260000e+05,1.570000e+05,2.140000e+05,2.420000e+05,2.090000e+05,2.250000e+05,2.010000e+05,2.180000e+05,2.190000e+05,2.590000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,3.866900e+07,4.055500e+07,4.014200e+07,4.289600e+07,4.307600e+07,4.580400e+07,4.420500e+07,4.240700e+07,...,6.054600e+07,5.873000e+07,6.136500e+07,6.495000e+07,6.732700e+07,6.889840e+07,7.719810e+07,8.303000e+07,8.976419e+07,9.818026e+07
235,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.600000e+04,4.400000e+04,4.000000e+04,5.100000e+04,5.800000e+04,7.900000e+04,6.000000e+04,6.200000e+04,6.600000e+04,7.400000e+04
236,Middle East & North Africa (IDA & IBRD countries),TMN,1.362004e+07,1.439085e+07,1.570795e+07,1.722888e+07,1.983101e+07,2.198938e+07,2.209232e+07,2.406148e+07,...,4.431138e+07,4.705281e+07,5.473675e+07,4.426041e+07,4.803150e+07,4.760095e+07,4.810056e+07,4.403788e+07,4.003877e+07,4.723084e+07
237,Tonga,TON,2.900000e+04,2.700000e+04,2.600000e+04,2.700000e+04,3.100000e+04,3.500000e+04,3.200000e+04,3.700000e+04,...,5.000000e+04,4.570000e+04,4.710000e+04,4.600000e+04,4.740000e+04,4.820000e+04,5.040000e+04,5.380000e+04,5.910000e+04,6.250000e+04
238,South Asia (IDA & IBRD),TSA,3.809177e+06,3.930662e+06,4.161829e+06,4.280669e+06,4.529947e+06,4.826436e+06,4.486400e+06,4.321774e+06,...,8.365578e+06,8.065426e+06,9.234491e+06,1.039236e+07,1.072507e+07,1.168277e+07,1.891533e+07,1.919519e+07,2.129414e+07,2.284510e+07
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,1.295720e+07,1.474029e+07,1.469061e+07,1.665619e+07,1.731444e+07,1.757944e+07,1.812036e+07,1.941256e+07,...,3.060059e+07,2.833533e+07,3.145731e+07,3.310224e+07,3.426820e+07,3.546457e+07,3.677882e+07,3.718509e+07,4.069832e+07,4.236450e+07
240,Trinidad and Tobago,TTO,2.600000e+05,2.660000e+05,3.240000e+05,3.340000e+05,3.580000e+05,3.990000e+05,3.830000e+05,3.840000e+05,...,4.370000e+05,4.190000e+05,3.880000e+05,4.310000e+05,4.550000e+05,4.340000e+05,4.120000e+05,4.400000e+05,4.090000e+05,3.950000e+05
241,Tunisia,TUN,4.120000e+06,3.885000e+06,4.263000e+06,4.718000e+06,4.832000e+06,5.058000e+06,5.387000e+06,5.064000e+06,...,7.050000e+06,7.797000e+06,7.828000e+06,5.746000e+06,6.999000e+06,7.352000e+06,7.163000e+06,5.359000e+06,5.724000e+06,7.052000e+06
242,Turkey,TUR,7.083000e+06,7.966000e+06,9.040000e+06,8.960000e+06,6.893000e+06,9.586000e+06,1.078300e+07,1.279000e+07,...,2.979200e+07,3.018700e+07,3.136400e+07,3.465400e+07,3.569800e+07,3.779500e+07,3.981100e+07,3.947800e+07,3.028900e+07,3.760100e+07
243,Tuvalu,TUV,9.000000e+02,1.000000e+03,1.000000e+03,1.000000e+03,1.100000e+03,1.100000e+03,1.100000e+03,1.300000e+03,...,1.700000e+03,1.600000e+03,1.700000e+03,1.200000e+03,1.100000e+03,1.300000e+03,1.400000e+03,2.400000e+03,2.500000e+03,2.500000e+03
244,Tanzania,TZA,2.850000e+05,3.150000e+05,3.470000e+05,4.500000e+05,5.640000e+05,4.590000e+05,5.010000e+05,5.500000e+05,...,7.500000e+05,6.950000e+05,7.540000e+05,8.430000e+05,1.043000e+06,1.063000e+06,1.113000e+06,1.104000e+06,1.233000e+06,1.275000e+06
245,Uganda,UGA,1.600000e+05,1.740000e+05,1.750000e+05,1.950000e+05,1.890000e+05,1.930000e+05,2.050000e+05,2.540000e+05,...,8.440000e+05,8.070000e+05,9.460000e+05,1.151000e+06,1.197000e+06,1.206000e+06,1.266000e+06,1.303000e+06,1.323000e+06,1.402000e+06
246,Ukraine,UKR,3.716000e+06,3.854000e+06,7.558000e+06,6.208000e+06,4.232000e+06,6.431000e+06,9.174000e+06,1.051700e+07,...,2.544900e+07,2.079800e+07,2.120300e+07,2.141500e+07,2.301300e+07,2.467100e+07,1.271200e+07,1.242800e+07,1.333300e+07,1.423000e+07
247,Upper middle income,UMC,1.065449e+08,1.181832e+08,1.206538e+08,1.251263e+08,1.323729e+08,1.495985e+08,1.561402e+08,1.672680e+08,...,2.472731e+08,2.397889e+08,2.576097e+08,2.759217e+08,2.971059e+08,3.098793e+08,3.227713e+08,3.332267e+08,3.382353e+08,3.635761e+08
248,Uruguay,URY,2.022000e+06,2.152000e+06,2.316000e+06,2.163000e+06,2.073000e+06,1.968000e+06,1.892000e+06,1.258000e+06,...,1.938000e+06,2.055000e+06,2.353000e+06,2.857000e+06,2.695000e+06,2.683000e+06,2.682000e+06,2.773000e+06,3.037000e+06,3.674000e+06
249,United States,USA,4.331800e+07,4.648900e+07,4.776700e+07,4.637700e+07,4.850900e+07,5.123800e+07,4.692700e+07,4.358100e+07,...,5.800700e+07,5.510300e+07,6.001000e+07,6.282100e+07,6.665700e+07,6.999500e+07,7.502200e+07,7.777400e+07,7.640700e+07,7.694100e+07
250,Uzbekistan,UZB,9.200000e+04,1.730000e+05,9.600000e+05,8.110000e+05,4.870000e+05,3.020000e+05,3.450000e+05,3.320000e+05,...,1.069000e+06,1.215000e+06,9.750000e+05,NaN,NaN,1.969000e+06,1.862000e+06,1.918000e+06,2.027000e+06,2.690000e+06
251,St. Vincent and the Grenadines,VCT,6.000000e+04,5.800000e+04,6.500000e+04,6.700000e+04,6.800000e+04,7.300000e+04,7.100000e+04,7.800000e+04,...,8.400000e+04,7.500000e+04,7.200000e+04,7.400000e+04,7.400000e+04,7.200000e+04,7.100000e+04,7.500000e+04,7.900000e+04,7.600000e+04
252,"Venezuela, RB",VEN,7.000000e+05,7.590000e+05,8.140000e+05,6.850000e+05,5.870000e+05,4.690000e+05,5.840000e+05,4.320000e+05,...,6.990000e+05,5.620000e+05,5.260000e+05,5.950000e+05,9.880000e+05,9.860000e+05,8.570000e+05,7.890000e+05,6.010000e+05,4.270000e+05
253,British Virgin Islands,VGB,2.190000e+05,2.440000e+05,2.440000e+05,2.790000e+05,2.840000e+05,2.720000e+05,2.960000e+05,2.820000e+05,...,3.460000e+05,3.090000e+05,3.300000e+05,3.380000e+05,3.510000e+05,3.660000e+05,3.860000e+05,3.930000e+05,4.080000e+05,3.350000e+05
254,Virgin Islands (U.S.),VIR,4.540000e+05,3.730000e+05,3.930000e+05,4.220000e+05,4.840000e+05,5.460000e+05,5.270000e+05,5.200000e+05,...,5.740000e+05,5.630000e+05,5.720000e+05,5.670000e+05,6.190000e+05,5.900000e+05,6.150000e+05,6.420000e+05,6.670000e+05,NaN
255,Vietnam,VNM,1.351000e+06,1.607000e+06,1.716000e+06,1.520000e+06,1.782000e+06,2.140000e+06,2.330000e+06,2.628000e+06,...,4.236000e+06,3.747000e+06,5.050000e+06,6.014000e+06,6.848000e+06,7.572000e+06,7.874000e+06,7.944000e+06,1.001300e+07,1.292200e+07
256,Vanuatu,VUT,4.400000e+04,4.600000e+04,5.000000e+04,5.200000e+04,5.100000e+04,5.800000e+04,5.300000e+04,4.900000e+04,...,9.050000e+04,1.007000e+05,9.720000e+04,9.400000e+04,1.082000e+05,1.100000e+05,1.090000e+05,9.000000e+04,9.510000e+04,1.090000e+05
257,World,WLD,5.239096e+08,5.545516e+08,5.843048e+08,6.022473e+08,6.272079e+08,6.773870e+08,6.782462e+08,6.984316e+08,...,9.363609e+08,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09
258,Samoa,WSM,6.800000e+04,7.300000e+04,6.800000e+04,7.800000e+04,8.500000e+04,8.800000e+04,8.800000e+04,8.900000e+04,...,1.180000e+05,1.220000e+05,1.220000e+05,1.210000e+05,1.260000e+05,1.160000e+05,1.204000e+05,1.280000e+05,1.340000e+05,1.460000e+05
259,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,6.100000e+04,7.400000e+04,8.000000e+04,8.800000e+04,5.800000e+04,7.300000e+04,7.600000e+04,9.800000e+04,...,1.023000e+06,1.028000e+06,1.025000e+06,8.290000e+05,8.740000e+05,9.900000e+05,1.017500e+06,3.667000e+05,NaN,NaN
261,South Africa,ZAF,4.488000e+06,4.915000e+06,4.976000e+06,5.732000e+06,5.890000e+06,5.872000e+06,5.787000e+06,6.430000e+06,...,9.592000e+06,7.012000e+06,8.074000e+06,8.339000e+06,9.188000e+06,9.537000e+06,9.549000e+06,8.904000e+06,1.004400e+07,1.028500e+07
262,Zambia,ZMB,1.630000e+05,2.640000e+05,3.410000e+05,3.620000e+05,4.040000e+05,4.570000e+05,4.920000e+05,5.650000e+05,...,8.120000e+05,7.100000e+05,8.150000e+05,9.200000e+05,8.590000e+05,9.150000e+05,9.470000e+05,9.320000e+05,9.560000e+05,1.083000e+06
263,Zimbabwe,ZWE,1.416000e+06,1.597000e+06,1.336000e+06,2.090000e+06,2.250000e+06,1.967000e+06,2.217000e+06,2.041000e+06,...,1.956000e+06,2.017000e+06,2.239000e+06,2.423000e+06,1.794000e+06,1.833000e+06,1.880000e+06,2.057000e+06,2.168000e+06,2.423000e+06

In [84]:
#Check the first rows of the new data frame

df.head()

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,619000.0,641000.0,650000.0,647000.0,683000.0,721000.0,691000.0,643000.0,...,904000.0,979000.0,1072000.0,1225000.0,1102000.0,1070500.0,Latin America & Caribbean,High income,NaN,Aruba
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,South Asia,Low income,NaN,Afghanistan
2,Angola,AGO,9000.0,21000.0,45000.0,52000.0,45000.0,51000.0,67000.0,91000.0,...,528000.0,650000.0,595000.0,592000.0,397000.0,261000.0,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,Albania,ALB,304000.0,287000.0,119000.0,184000.0,371000.0,317000.0,354000.0,470000.0,...,3156000.0,2857000.0,3341000.0,3784000.0,4070000.0,4643000.0,Europe & Central Asia,Upper middle income,NaN,Albania
4,Andorra,AND,NaN,NaN,NaN,NaN,2347000.0,2949000.0,3516000.0,3387000.0,...,2238000.0,2328000.0,2363000.0,2663000.0,2831000.0,NaN,Europe & Central Asia,High income,NaN,Andorra

In [85]:
#Check our countries

df[df['TableName']=='Colombia']

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,Region,IncomeGroup,SpecialNotes,TableName
43,Colombia,COL,1399000.0,631000.0,639000.0,674000.0,546000.0,557000.0,616000.0,567000.0,...,2175000.0,2288000.0,2552000.0,2978000.0,3317000.0,4113000.0,Latin America & Caribbean,Upper middle income,NaN,Colombia

In [86]:
df[df['TableName']=='Brazil']

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,Region,IncomeGroup,SpecialNotes,TableName
27,Brazil,BRA,1991000.0,2666000.0,2850000.0,4818000.0,5107000.0,5313000.0,4773000.0,3785000.0,...,5677000.0,5813000.0,6430000.0,6306000.0,6547000.0,6589000.0,Latin America & Caribbean,Upper middle income,NaN,Brazil

In [87]:
df[df['TableName']=='Cambodia']

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,Region,IncomeGroup,SpecialNotes,TableName
121,Cambodia,KHM,220000.0,260000.0,219000.0,287000.0,368000.0,466000.0,605000.0,787000.0,...,3584000.0,4210000.0,4503000.0,4775000.0,5012000.0,5602000.0,East Asia & Pacific,Lower middle income,NaN,Cambodia

In [88]:
df[df['TableName']=='Portugal']

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,Region,IncomeGroup,SpecialNotes,TableName
192,Portugal,PRT,4572000.0,4567000.0,4798000.0,5539000.0,5379000.0,5599000.0,5392000.0,5560000.0,...,7503000.0,9177000.0,10497000.0,11723000.0,13359000.0,15432000.0,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Portugal

In [90]:
#Find the top 10 countries or regions with the most number of visitor in 2017

df.nlargest(10, ['2017'])

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,Region,IncomeGroup,SpecialNotes,TableName
257,World,WLD,523909597.5,554551599.3,584304845.2,602247337.9,627207864.9,677386990.3,678246237.6,698431588.3,...,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,NaN,NaN,World aggregate.,World
93,High income,HIC,378852199.7,393699339.3,414534780.5,428597798.3,444887284.8,472270623.2,463927039.6,469972810.8,...,6.266071e+08,6.584570e+08,6.995938e+08,7.330564e+08,7.686113e+08,8.147399e+08,NaN,NaN,High income group aggregate. High-income econo...,High income
179,OECD members,OED,358594011.5,373195012.8,390801343.9,403543731.6,415173735.3,440251430.7,429377297.3,433286526.3,...,5.637250e+08,5.921553e+08,6.302726e+08,6.641770e+08,6.873700e+08,7.387490e+08,NaN,NaN,Aggregations include Lithuania.,OECD members
196,Post-demographic dividend,PST,329188823.4,342980932.6,365920109.2,378040977.9,390902896.5,417740688.9,414345739.8,421881407.1,...,5.691869e+08,5.987758e+08,6.194239e+08,6.475276e+08,6.862630e+08,7.311272e+08,NaN,NaN,Post-dividend countries are mostly high-income...,Post-demographic dividend
63,Europe & Central Asia,ECS,295513163.6,311628300.0,336654250.6,346867957.1,355106329.7,383051537.2,384104838.5,395474416.2,...,5.386314e+08,5.677226e+08,5.797844e+08,6.038805e+08,6.159794e+08,6.695441e+08,NaN,NaN,Europe and Central Asia regional aggregate (in...,Europe & Central Asia
101,IDA & IBRD total,IBT,166132366.7,183073285.1,193536615.7,196597227.9,203059123.9,226959418.8,234899003.2,247635631.0,...,4.534613e+08,4.749737e+08,4.869817e+08,5.027129e+08,5.136785e+08,5.615830e+08,NaN,NaN,IDA and IBRD total group aggregate (includes I...,IDA & IBRD total
71,European Union,EUU,258799859.7,267764000.0,285078000.0,297044000.0,306801000.0,324840000.0,320374000.0,325998000.0,...,4.021580e+08,4.212660e+08,4.421430e+08,4.637260e+08,4.846420e+08,5.226200e+08,NaN,NaN,European Union aggregate.,European Union
138,Low & middle income,LMY,141955983.2,157499694.9,166235635.0,170016745.4,178559236.0,201220080.8,210723323.6,225019262.9,...,4.240559e+08,4.441156e+08,4.552279e+08,4.681974e+08,4.764683e+08,5.213047e+08,NaN,NaN,NaN,Low & middle income
154,Middle income,MIC,136463673.0,151378586.8,159788648.6,163151824.5,171474354.8,193065088.4,202309886.1,215615916.5,...,4.021694e+08,4.214041e+08,4.320154e+08,4.453550e+08,4.528075e+08,4.957631e+08,NaN,NaN,Middle income group aggregate. Middle-income e...,Middle income
100,IBRD only,IBD,153375316.7,168586277.0,178007209.6,179719587.2,185642456.8,208505304.3,215606094.8,226988162.7,...,4.050741e+08,4.223739e+08,4.317754e+08,4.437688e+08,4.538836e+08,4.956879e+08,NaN,NaN,IBRD only group aggregate.,IBRD only

In [96]:
#Find the top 10 countries exclusively with the most number of visitor in 2017. 
#We need to exclude Regions and Income Groups to look only for countries data

df[(df['Region'].notnull()) & (df['IncomeGroup'].notnull())].nlargest(10,['2017'])

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,Region,IncomeGroup,SpecialNotes,TableName
75,France,FRA,60033000.0,62406000.0,66591000.0,70109000.0,73147000.0,77190000.0,75202000.0,77012000.0,...,81980000.0,83634000.0,83701000.0,84452000.0,82682000.0,86861000.0,Europe & Central Asia,High income,The following irrevocable euro conversion rate...,France
68,Spain,ESP,32971000.0,34027000.0,39553000.0,41892000.0,45440000.0,46403000.0,48565000.0,50331000.0,...,57464000.0,60675000.0,64939000.0,68175000.0,75315000.0,81786000.0,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Spain
249,United States,USA,43318000.0,46489000.0,47767000.0,46377000.0,48509000.0,51238000.0,46927000.0,43581000.0,...,66657000.0,69995000.0,75022000.0,77774000.0,76407000.0,76941000.0,North America,High income,NaN,United States
38,China,CHN,20034000.0,22765000.0,23770000.0,25073000.0,27047000.0,31229000.0,33167000.0,36803000.0,...,57725000.0,55686000.0,55622000.0,56886000.0,59270000.0,60740000.0,East Asia & Pacific,Upper middle income,On 1 July 1997 China resumed its exercise of s...,China
114,Italy,ITA,31052000.0,32943000.0,34692000.0,34933000.0,36516000.0,41181000.0,39563000.0,39799000.0,...,46360000.0,47704000.0,48576000.0,50732000.0,52372000.0,58253000.0,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Italy
152,Mexico,MEX,20241000.0,21395000.0,19351000.0,19392000.0,19043000.0,20641000.0,19810000.0,19667000.0,...,23403000.0,24151000.0,29346000.0,32093000.0,35079000.0,39291000.0,Latin America & Caribbean,Upper middle income,NaN,Mexico
79,United Kingdom,GBR,21719000.0,22936000.0,23215000.0,23710000.0,23341000.0,23212000.0,20982000.0,22307000.0,...,29282000.0,31063000.0,32613000.0,34436000.0,35814000.0,37651000.0,Europe & Central Asia,High income,NaN,United Kingdom
242,Turkey,TUR,7083000.0,7966000.0,9040000.0,8960000.0,6893000.0,9586000.0,10783000.0,12790000.0,...,35698000.0,37795000.0,39811000.0,39478000.0,30289000.0,37601000.0,Europe & Central Asia,Upper middle income,NaN,Turkey
53,Germany,DEU,14847000.0,15205000.0,15837000.0,16511000.0,17116000.0,18983000.0,17861000.0,17969000.0,...,30411000.0,31545000.0,32999000.0,34970000.0,35555000.0,37452000.0,Europe & Central Asia,High income,NaN,Germany
231,Thailand,THA,6952000.0,7244000.0,7294000.0,7843000.0,8651000.0,9579000.0,10133000.0,10873000.0,...,22354000.0,26547000.0,24810000.0,29923000.0,32530000.0,35592000.0,East Asia & Pacific,Upper middle income,Fiscal year end: September 30; reporting perio...,Thailand

In [97]:
#Find the bottom 10 only countries exclusively with the most number of visitor in 2017. 

df[(df['Region'].notnull()) & (df['IncomeGroup'].notnull())].nsmallest(10,['2017'])

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,Region,IncomeGroup,SpecialNotes,TableName
243,Tuvalu,TUV,900.0,1000.0,1000.0,1000.0,1100.0,1100.0,1100.0,1300.0,...,1100.0,1300.0,1400.0,2400.0,2500.0,2500.0,East Asia & Pacific,Upper middle income,NaN,Tuvalu
122,Kiribati,KIR,3900.0,4200.0,5100.0,5700.0,5100.0,4800.0,4600.0,4900.0,...,4900.0,5900.0,5000.0,3900.0,5700.0,5800.0,East Asia & Pacific,Lower middle income,NaN,Kiribati
153,Marshall Islands,MHL,5500.0,6200.0,6400.0,6400.0,4600.0,5200.0,5400.0,6000.0,...,4600.0,NaN,4900.0,6300.0,5400.0,6000.0,East Asia & Pacific,Upper middle income,Fiscal year ends on September 30; reporting pe...,Marshall Islands
9,American Samoa,ASM,34000.0,35000.0,26000.0,36000.0,41000.0,44000.0,36000.0,NaN,...,22600.0,20800.0,21600.0,20300.0,20100.0,20000.0,East Asia & Pacific,Upper middle income,NaN,American Samoa
207,Solomon Islands,SLB,11800.0,10300.0,13800.0,15800.0,NaN,5200.0,NaN,NaN,...,23900.0,24400.0,20100.0,21600.0,23200.0,25700.0,East Asia & Pacific,Lower middle income,NaN,Solomon Islands
44,Comoros,COM,23000.0,24000.0,26000.0,27000.0,24000.0,24000.0,19400.0,18900.0,...,22800.0,21900.0,22800.0,23600.0,26800.0,28000.0,Sub-Saharan Africa,Lower middle income,NaN,Comoros
237,Tonga,TON,29000.0,27000.0,26000.0,27000.0,31000.0,35000.0,32000.0,37000.0,...,47400.0,48200.0,50400.0,53800.0,59100.0,62500.0,East Asia & Pacific,Upper middle income,NaN,Tonga
135,Liechtenstein,LIE,59000.0,56000.0,57000.0,59000.0,60000.0,61600.0,56500.0,48700.0,...,53600.0,52400.0,53700.0,48600.0,60000.0,69000.0,Europe & Central Asia,High income,NaN,Liechtenstein
55,Dominica,DMA,60000.0,63000.0,65000.0,66000.0,74000.0,70000.0,66000.0,69000.0,...,79000.0,78000.0,81500.0,75000.0,78000.0,72000.0,Latin America & Caribbean,Upper middle income,NaN,Dominica
235,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58000.0,79000.0,60000.0,62000.0,66000.0,74000.0,East Asia & Pacific,Lower middle income,NaN,Timor-Leste